In [ ]:
# Data Science Tools and Ecosystem

Objectives:
- List popular languages for Data Science
-  List popular libraries for Data Science
  -  List popular Tools for Data Science
-  Arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
1. R
1. SQL
1. Julia

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. Numpy
3. Seaborn
4. Matplotlib

| Data Science Tools                         |
|---------------------------------------------|
| Jupyter Notebook                            |
| RStudio                                     |
| Apache Zeppelin                             |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

Error: Please load a database to perform operations

This will convert 200 minutes to hours by diving by 60

In [2]:
hours = 200/60
hours

Error: Please load a database to perform operations

## Author 
James Thomas